/*
=================================================
GLOBAL STYLES
=================================================
*/
*, *:before, *:after{
    box-sizing:border-box;
}
html,body{
    margin:0;
}
body{
    text-align:center;
    font-family:sans-serif;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    min-width:600px;
    margin:350px auto 50px auto;
}
.title{
    text-transform:uppercase;
    font-size:72px;
    font-weight:100;
    color:#999;
}

a{
    text-decoration:none;s
}

/*
=================================================
SEARCH
=================================================
*/
.search{
    width:100%;
    max-width:600px;
    font-size:36px;
    border-radius:0;
    border:1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    color:#999;
}
.go{
    font-size:36px;
    background:#999;
    color:#FFF;
    border:1px solid #999;
    font-weight:100;
    font-family: 'Roboto', sans-serif;
    transition:.2s;
}
.go:hover{
    background:#CCC;
    cursor:pointer;
}

/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks{
    padding:30px;
}
.bookmarks a{
    font-size:24px;
    margin:0 30px;
    color:#ccc;
    line-height:32px;
    transition:.2s;
}
.bookmarks a:hover{
    color:#999;
    font-size:28px;
    line-height:26px;

}

/*
=================================================
WEATHER
=================================================
*/
header{
    position:fixed;
    width:100%;
    top:0;
    margin-bottom:30px;
}

/*
=================================================
CALCULATOR
=================================================
*/
.calculator{
    border:1px solid #000000;
}

/*
=================================================
CLOCK
=================================================
*/
#clock{
    position:absolute;
    bottom:10px;
    right:20px;
    color:#999;
}

/*
=================================================
POST-IT NOTE
=================================================
*/
#note{
  width:250px;
  height:250px;
  resize: none;
  background:#F3F19D;
  padding:15px;
  border:none;
  position: absolute;
  bottom:50px;
  left:50px;
  font-family:sans-serif;
}
